.app{
    background-color: rgb(233, 186, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
}   

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(15, 15, 15);
    background-color: #23d346;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(129, 94, 132);
}
  
button:hover {background-color: #bb76a6}
  
button:active {
    background-color: #e2d6dd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.animal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



